/* #nav {
    display:flex;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    /* height: 100vh; */
    width: 100%;
    /* background-color: brown; */
}

.section {
    /* height: 50%; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    /* background-color: black; */
}

.nav {
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    background-color: thistle;
    padding: 5px 5px;
    border-radius: 8px;
}

#li {
    font-family: Arial, Helvetica, sans-serif;
}

#li :hover {
    color: red;
    transition: all 0.5s ease-in-out;
}

.card-container {
    background-color: beige;
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
}

.card-image {
    width: 100%;
    height: 200px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.card-description {
    color: black;
}

.card-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.card-button:hover {
    background-color: #1c661c;
    transition: all 0.5s ease-in-out;
}